body, html {
    margin: 0;
    padding: 0;
    color: #333;
    height: 100%;
    background-color:  #D3DADC;
}

header {
    background-color: #ffe8ae;
    border-bottom: 1px solid #e0e0e0;
}

.custom-header.navbar {
    background-color: #4B585E !important;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-item {
    margin: 0 15px;
}

.navbar-brand {
    margin-right: auto;
    font-size: 23px;
    font-weight: bold;
    color: #ffffff;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
    font-size: 16px;
}

.navbar-nav .nav-link:hover {
    color: #e07a5f !important;
}

.btn-primary2 {
    margin-right: 10px !important;
    background-color: #e07a5f !important;
    color: #fff !important;
}

.btn-primary1 {
    margin-left: 10px !important;
    background-color: #e07a5f !important;
    color: #fff !important;
}

.btn-primary3 {
    margin-right: 20px !important;
    background-color: #e07a5f !important;
    color: #fff !important;
}

.btn.btn-primary2:hover,
.btn.btn-primary1:hover,
.btn.btn-primary3:hover {
    background-color: #d56b4d !important;
    border-color: #d56b4d !important;
}

.contact-container {
    background-color: #19272e;
    padding: 40px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin: 20px auto;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
}

.contact-container h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #ffffff;
}

.contact-container p {
    font-size: 17px;
    margin-bottom: 30px;
    color: #ffffff;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
}

.info-item {
    width: 50%;
}

.info-item h2 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
}

.info-item p {
    font-size: 16px;
    color: #ffffff;
    display: flex;
}

.contact-form {
    width: 100%;
    text-align: left;
}

.contact-form label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    color: #ffffff;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact-form button {
    width: 100%;
    padding: 12px;
    background-color: #e07a5f;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 17px;
    cursor: pointer;

}

.contact-form button:hover {
    background-color: #d56b4d ;
}


.button-booking2 {
    background-color: #e07a5f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-right:-540px;

}

.button-booking2:hover {
    background-color: #d56b4d;
}   

.cart_count {
    position: absolute;
    bottom:-5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 9px;
    font-size: 14px;
}
.navbar-toggler {
    border-color: white; /* Change border color to white */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M1 2h14M1 8h14M1 14h14'/%3E%3C/svg%3E");
}

